<div class="container-fluid">
<h1><%= @song.title %></h1>
 
 <p>
   Author: <%= @song.author %>
 </p>
 
 <p>
   <%= @song.url  %>
 </p>
 
 <hr/>
 <a class="btn btn-primary" href="/songs">Back to All Songs</a>
</div>