<h1 class="text-center">Login</h1>
 <hr/>
 

<div class="container-fluid">
 <form method="post" action="/log_in">
    <div class="form-group">
     <label for="exampleInputConfirmEmail1">Email:</label>
     <input type="text" class="form-control" id=name="exampleInputConfirmEmail1" name="email" placeholder="Email">
   </div>
   <div class="form-group">
     <label for="exampleInputPassword1">Password:</label>
     <input type="password" class="form-control" id=name="exampleInputPassword1" name="pword" placeholder="Password">
   </div>
   <div>
     <button type="submit" class="btn btn-primary">Submit</button>
   </div>
 </form>

  <hr/>
 <a class="btn btn-danger" href="/songs">Back to All Songs</a>
 </div>