<h1 class="text-center">Make An Account</h1>
 <hr/>
 

<div class="container-fluid">
 <form method="post" action="/sign_up">
    <div class="form-group">
     <label for="exampleInputConfirmEmail1">Email:</label>
     <input type="text" class="form-control" id=name="exampleInputConfirmEmail1" name="email" placeholder="Email">
   </div>
   <div class="form-group">
     <label for="exampleInputUser1">User Name:</label>
     <input type="text" class="form-control" id=name="exampleInputUser1" name="user_name" placeholder="User">
   </div>
   <div class="form-group">
     <label for="exampleInputPassword1">Password:</label>
     <input type="password" class="form-control" id=name="exampleInputPassword1" name="password" placeholder="Password">
   </div>
   <div class="form-group">
     <label for="exampleInputConfirmPassword1">Confirm Password:</label>
     <input type="password" class="form-control" id=name="exampleInputConfirmPassword1" name="confirm_password" placeholder="Confirm Password">
   </div>
   <div>
     <button type="submit" class="btn btn-primary">Submit</button>
   </div>
 </form>

  <hr/>
 <a class="btn btn-danger" href="/songs">Back to All Songs</a>
 </div>